* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: url(), linear-gradient(to right, #6a3c98, #d13b93);
    linear-gradient(#e66465, #9198e5) */
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: brown;
  background-image: url(banner.jpg);
  background-size: cover;
}
.main {
  padding: 1rem 2rem;
  margin: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
  /*! align-items: center; */
}
section {
  position: absolute;
  top: 10%;
  left: 20%;
  translate: (-50%, -50%);
  box-shadow: 0.5rem 1rem 1rem 2rem rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  margin: 2rem;
}
.winner {
  color: green;
}
.loser {
  color: red;
}

/* .main-sub--score {
  flex-basis: 40%;
}
.main-sub--win {
  flex-basis: 40%;
  align-content: center;
} */
.heading {
  font-size: 3rem;
  /* margin-bottom: 1rem; */
}
.heading2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
#play-upto {
  font-size: 1rem;
  padding: 8px 0.4rem;
  border-radius: 1.4rem;
  color: brown;
  background-color: #badfed;
  margin-bottom: 1rem;
}
.buttons {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.buttons-p {
  padding: 10px 20px;
  border-radius: 0.5rem;
  background-color: #2cb36b;
  color: white;
  font-size: 1rem;
}
.buttons-reset {
  padding: 10px 50px;
  border-radius: 0.5rem;
  background-color: #ec0e0e;
  color: white;
  font-size: 1rem;
}
h3 {
  margin: 0.3rem 0;
}
/* small screen */
/* @media only screen and (max-width: 480px) { */
@media only screen and (max-width: 767px) {
  section {
    text-align: center;
    top: 8%;
    left: 0;
  }
  .heading {
    font-size: 1.5rem;
  }
  .heading2 {
    font-size: 1rem;
  }
  .buttons-p {
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  section {
    top: 8%;
    left: 1%;
  }
}
