* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    /* background-image: url(), linear-gradient(to right, #6a3c98, #d13b93);
    linear-gradient(#e66465, #9198e5) */
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 2rem;
    line-height: 1.5;
    color: brown;
    background-image: url(banner.jpg);
    background-size: cover;
  }
  .main {
      padding: 10px;
      margin: 25px;
    display:flex;
      justify-content: center;
      /*! align-items: center; */
    }
  /* section {
    position: absolute;
    top: 40%;
    left: 40%;
    /* translate: (-50%, -50%); */
  } */
  
  .winner {
    color: green;
  }
  .loser {
    color: red;
  }


  .main-sub--score {
    flex-basis: 40%;
  }
  .main-sub--win {
    flex-basis: 40%;
    align-content:center;
  }
  .heading {
    font-size: 4rem;
  }
  #play-upto {
    font-size: 1rem;
    padding: 8px 0.4rem;
    border-radius: 1.4rem;
  /*   color: #39C6FE; */
  }
  
  .buttons-p1 {
    padding: 10px 20px;
    border-radius: .5rem;
    background-color: #37F38F;
    color: white;
    font-size: 1rem;
  }
  .buttons-p2 {
    padding: 10px 20px;
    border-radius: .5rem;
    background-color: #2CB36B;
    color: white;
    font-size: 1rem;
  }
  .buttons-reset {
    padding: 10px 40px;
    border-radius: .5rem;
    background-color: #EC0E0E;
    color: white;
    font-size: 1rem;
  }