* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body section {
  position: absolute;
  top: 40%;
  left: 40%;
  /* translate: (-50%, -50%); */
}

.winner {
  color: green;
}
.loser {
  color: red;
}
